<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de JavaScript</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='course-style.css') }}">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('curso_css') }}">Curso de CSS</a></li>
                <li><a href="{{ url_for('curso_python') }}">Curso de Python</a></li>
                <li><a href="{{ url_for('curso_javascript') }}">Curso de JavaScript</a></li>
                <li><a href="{{ url_for('contato') }}">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="container">
            <img src="{{ url_for('static', filename='icons8-javascript-48.png') }}" alt="Ícone do JavaScript">
            <h1 class="title">Bem-vindo ao <br>Curso de JavaScript<br></h1>
            <p class="subtitle">Aprenda a criar interatividade <br>em suas páginas web com<br> JavaScript.</p>
        </div>
    </section>

    <section class="course-content">
        <div class="container">
            <h2>Por que aprender JavaScript?</h2>
            <p>O JavaScript é uma linguagem de programação essencial para adicionar interatividade e dinamismo às páginas web. Com o JavaScript, você pode criar animações, manipular o DOM, fazer requisições assíncronas e muito mais.</p>
            <h2>Benefícios de aprender JavaScript:</h2>
            <ul>
                <li>Crie páginas web interativas e dinâmicas</li>
                <li>Manipule o conteúdo e o estilo das páginas em tempo real</li>
                <li>Desenvolva aplicações web modernas e responsivas</li>
            </ul>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BXqUH86F-kA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Dev Solidário. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
